{%extends "registration/base.html"%} {% load bootstrap3 %}
{% block content %}
<style>
    img{
        width: 510px;
        height: 400px;
        margin-top: 50px;
    }
    h1{
        font-size: 40px;
        color: rgb(1, 1, 31);
        margin-left:65px;
        margin-top: 50px;
        margin-bottom: 30px;
        font-family: 'Pacifico', cursive;

    }
   
    .container{
       
        
    }
    
    #panel{
        width: 800px;
        height: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        margin-top: 100px;
        margin-bottom: 100px;
     
    }




</style>
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div id="panel" class="panel panel-default">
                <div class="col-md-7" id="icon">
                    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgordonkelly%2Ffiles%2F2017%2F08%2FDIlG3rqXkAAOazn-1.jpg" alt="">
                   
        
                </div>
                <div class="col-md-5" id="button">
                        <h1>Instagram</h1>
                    <div class="form">
                        {% if form.errors %}
                        <p> Some Information Might be Incorrect </p>
                        {% endif %}
                      <div  class="panel panel-default">
                
                        
                        <div class="panel-body">
                
                          <form  action="/accounts/register/" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form layout='inline' %}
                            <div class="form-group">
                              <input type="submit"  class="btn btn-primary btn-sm" value="Sign Up">
                            </div>
                
                            <input type="hidden" name="next" value="{{next}}">
                            <div class="row" style="border: 1px solid lightgrey; padding:5%; background-color:white;">
                                <p>Already have an account? <a href="/accounts/login">Login</a></p>
                            </div>
                
                          </form>
                
                        </div>
                
                      </div>
                    </div>
        
                </div>

    </div>
      

    </div>
    <!-- empty div -->
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}