{%extends 'base.html'%}
{% load bootstrap3 %} 
{%block content%}



<body>

  <d
  iv class="container">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="text-center">Create a profile to begin</h5>
        <form  action="{%url 'create-profile'%}" method="post" enctype="multipart/form-data">
          {%csrf_token%}

          {% bootstrap_form form%}
          <input type="submit" class="btn btn-dark btn-lg" value="Post">
        </form>
      </div>
    </div>

  </div>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</body>


{%endblock%}