<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home'%"> |  INSTAGRAM</a>

      </div>

      <ul class="nav navbar-nav">
      
        <li><a href="{% url 'create-profile'%}">PROFILE |</a></li>
        <li><a href="{% url 'profile'%}"> VIEW PROFILE |</a></li>
        <li><a href="{% url 'new-post'%}">UPLOAD  |</a></li>
        
        <li><a href="#">LOGOUT |</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/login/"><span class="glyphicon glyphicon-user"></span> LOGIN</a></li>
        <li><a href="accounts/register/"><span class="glyphicon glyphicon-log-in"></span> SIGNUP</a></li>
      </ul>
    </div>
  </nav>



