{%extends 'display/base.html'%}

{% block content %}
{{block.super}}
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{profile.profile_photo.url}}" alt="" width="150px" height="150px" class="rounded-circle">
      </div>
      <div class="col-md-6 col-sm-12">
      <div class="bio">
        <div class="ok">
          
        </div>
        <div class="button">
          <a href="{%url 'create-profile'%}" style="border:1px solid lightgrey;border-radius:2px;color:black;text-decoration:none">Edit profile</a>
        </div>
        <div class="cog">
          <i class="fas fa-cog"></i>
        </div>
        <p>{{profile.name}}</p>
      </div><br><br>
      <h2>Bio</h2>
    {{profile.bio}}
      </div>
    </div>
    <br><hr>
    <div class="row">
      {%for post in posts%}
      <div class="col-md-4 image-holder ">
          
          <img class="display" src="{{post.image.url}}" alt="" style="width: 320px; height: 290px;" > <br>
         
      </div>
     
      <br>
      <br>
     <br> 

      {%endfor%}
    </div>
   
  </div>


{% endblock %}
